/* I don't know how but I made it look pretty good. Please don't touch :D */

.loadingData1 {
    background-image: linear-gradient(90deg, #fff 0%, #fff 45%, #a3a3a3 48%,#a3a3a3 52%,#fff 55%,#fff 100% );
    background-attachment:fixed;
	background-position: 400% 50%;
    background-size: 120% 100%;
	animation: gradient 2s infinite;
	animation-delay: 0ms;
	width: 100%;
}
.loadingData2 {
    background-image: linear-gradient(90deg, #fff 0%, #fff 45%, #a3a3a3 48%,#a3a3a3 52%,#fff 55%,#fff 100% );
    background-attachment:fixed;
	background-position: 400% 50%;
    background-size: 120% 100%;
	animation: gradient 2s infinite;
	animation-delay: 50ms;
	width: 100%;
}
.loadingData3 {
    background-image: linear-gradient(90deg, #fff 0%, #fff 45%, #a3a3a3 48%,#a3a3a3 52%,#fff 55%,#fff 100% );
    background-attachment:fixed;
	background-position: 400% 50%;
    background-size: 120% 100%;
	animation: gradient 2s infinite;
	animation-delay: 100ms;
	width: 100%;
}
.loadingData4 {
    background-image: linear-gradient(90deg, #fff 0%, #fff 45%, #a3a3a3 48%,#a3a3a3 52%,#fff 55%,#fff 100% );
    background-attachment:fixed;
	background-position: 400% 50%;
    background-size: 120% 100%;
	animation: gradient 2s infinite;
	animation-delay: 150ms;
	width: 100%;
}
.loadingData5 {
    background-image: linear-gradient(90deg, #fff 0%, #fff 45%, #a3a3a3 48%,#a3a3a3 52%,#fff 55%,#fff 100% );
    background-attachment:fixed;
	background-position: 400% 50%;
    background-size: 120% 100%;
	animation: gradient 2s infinite;
	animation-delay: 200ms;
	width: 100%;
}
.loadingData6 {
    background-image: linear-gradient(90deg, #fff 0%, #fff 45%, #a3a3a3 48%,#a3a3a3 52%,#fff 55%,#fff 100% );
    background-attachment:fixed;
	background-position: 400% 50%;
    background-size: 120% 100%;
	animation: gradient 2s infinite;
	animation-delay: 250ms;
	width: 100%;
}
.loadingData7 {
    background-image: linear-gradient(90deg, #fff 0%, #fff 45%, #a3a3a3 48%,#a3a3a3 52%,#fff 55%,#fff 100% );
    background-attachment:fixed;
	background-position: 400% 50%;
    background-size: 120% 100%;
	animation: gradient 2s infinite;
	animation-delay: 300ms;
	width: 100%;
}
.loadingData8 {
    background-image: linear-gradient(90deg, #fff 0%, #fff 45%, #a3a3a3 48%,#a3a3a3 52%,#fff 55%,#fff 100% );
    background-attachment:fixed;
	background-position: 400% 50%;
    background-size: 120% 100%;
	animation: gradient 2s infinite;
	animation-delay: 350ms;
	width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 400% 50%;
	}
	50% {
		background-position: -280% 50%;
	}
	100% {
		background-position: 400% 50%;
	}
}