ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    position: relative;
    padding-left: 20px;
}

ul li::before {
    content: "X";
    position: absolute;
    left: 0;
    color: lightcoral;
}

 /* for pushing purposes */